---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table58tablebatchsuitetestbatchi"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:T7d3IsGXewXZ7IsMvnv7UFaRmvJyXCSgMThzTAg8F5o=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:46:04 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table58tablebatchsuitetestbatchi')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table58tablebatchsuitetestbatchi')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: "--batch_80adda97-ab59-4ebd-8d72-d8b2a5fd3048\r\nContent-Type: multipart/mixed;
      boundary=changeset_605520d1-12f6-4066-87ee-dad439dfd94b\r\n\r\n\r\n--changeset_605520d1-12f6-4066-87ee-dad439dfd94b\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table58tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":\"200.23\",\"AmountDue@odata.type\":\"Edm.Double\",\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"IsActive\":true,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_605520d1-12f6-4066-87ee-dad439dfd94b--\r\n\r\n--batch_80adda97-ab59-4ebd-8d72-d8b2a5fd3048--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:rH+c6DhhE3tyS4ETlPi6EXPcGRPCb5EWHAGCjw9e5U4=
      Content-Type:
      - multipart/mixed; boundary=batch_80adda97-ab59-4ebd-8d72-d8b2a5fd3048
      X-Ms-Date:
      - Thu, 02 May 2019 17:46:04 GMT
      X-Ms-Version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/$batch
    method: POST
  response:
    body: "--batchresponse_5be4de5e-3b29-47d5-b0ce-6bd4f6958823\r\nContent-Type: multipart/mixed;
      boundary=changesetresponse_80120739-b2b3-4025-88dc-5931a263e47e\r\n\r\n--changesetresponse_80120739-b2b3-4025-88dc-5931a263e47e\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204 No
      Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nPreference-Applied:
      return-no-content\r\nDataServiceVersion: 3.0;\r\nETag: W/\"datetime'2019-05-02T17%3A46%3A06.0343962Z'\"\r\n\r\n\r\n--changesetresponse_80120739-b2b3-4025-88dc-5931a263e47e--\r\n--batchresponse_5be4de5e-3b29-47d5-b0ce-6bd4f6958823--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batchresponse_5be4de5e-3b29-47d5-b0ce-6bd4f6958823
      X-Ms-Version:
      - "2016-05-31"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:z+6CM+WuF2+vmEcso1rvMbQr9qKLrSKZDJlMj9RJ/gw=
      x-ms-date:
      - Thu, 02 May 2019 17:46:04 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/table58tablebatchsuitetestbatchi?%24top=2&timeout=30
    method: GET
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table58tablebatchsuitetestbatchi","value":[{"odata.type":"golangrocksonazure.table58tablebatchsuitetestbatchi","odata.id":"https://golangrocksonazure.table.core.windows.net/table58tablebatchsuitetestbatchi(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","odata.etag":"W/\"datetime''2019-05-02T17%3A46%3A06.0343962Z''\"","odata.editLink":"table58tablebatchsuitetestbatchi(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","PartitionKey":"mypartitionkey","RowKey":"myrowkey","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2019-05-02T17:46:06.0343962Z","AmountDue":200.23,"CustomerCode@odata.type":"Edm.Guid","CustomerCode":"c9da6455-213d-42c9-9a79-3e9149a57833","CustomerSince@odata.type":"Edm.DateTime","CustomerSince":"1992-12-20T21:55:00Z","IsActive":true,"NumberOfOrders@odata.type":"Edm.Int64","NumberOfOrders":"255"}]}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2016-05-31"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:bLqupiWQSOF+Z84XB7RH+hyi4GLu/jD7JpbafrHMAhw=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:46:04 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table58tablebatchsuitetestbatchi%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
