---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table57tablebatchsuitetestbatchi"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:T7d3IsGXewXZ7IsMvnv7UFaRmvJyXCSgMThzTAg8F5o=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:46:04 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table57tablebatchsuitetestbatchi')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table57tablebatchsuitetestbatchi')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: "--batch_40ee4d34-c711-4bd2-affc-83499e990f9b\r\nContent-Type: multipart/mixed;
      boundary=changeset_9e4d24ec-c2ae-49fc-967e-b7558aa934a5\r\n\r\n\r\n--changeset_9e4d24ec-c2ae-49fc-967e-b7558aa934a5\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table57tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":\"200.23\",\"AmountDue@odata.type\":\"Edm.Double\",\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"IsActive\":true,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_9e4d24ec-c2ae-49fc-967e-b7558aa934a5--\r\n\r\n--batch_40ee4d34-c711-4bd2-affc-83499e990f9b--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:1JIF5E65rWYhRjSkWvxuQstTKTAtbxurhazXDpWf+lA=
      Content-Type:
      - multipart/mixed; boundary=batch_40ee4d34-c711-4bd2-affc-83499e990f9b
      X-Ms-Date:
      - Thu, 02 May 2019 17:46:04 GMT
      X-Ms-Version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/$batch
    method: POST
  response:
    body: "--batchresponse_59381db7-769a-46a8-a5bc-144358f70522\r\nContent-Type: multipart/mixed;
      boundary=changesetresponse_f096b318-a873-401e-9728-2932c7d191b2\r\n\r\n--changesetresponse_f096b318-a873-401e-9728-2932c7d191b2\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204 No
      Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nPreference-Applied:
      return-no-content\r\nDataServiceVersion: 3.0;\r\nETag: W/\"datetime'2019-05-02T17%3A46%3A06.2095203Z'\"\r\n\r\n\r\n--changesetresponse_f096b318-a873-401e-9728-2932c7d191b2--\r\n--batchresponse_59381db7-769a-46a8-a5bc-144358f70522--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batchresponse_59381db7-769a-46a8-a5bc-144358f70522
      X-Ms-Version:
      - "2016-05-31"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: "--batch_8fa2f530-f757-4f5d-af55-53a18f8c91d5\r\nContent-Type: multipart/mixed;
      boundary=changeset_af09e92a-c867-4096-9979-be1bad22bf85\r\n\r\n\r\n--changeset_af09e92a-c867-4096-9979-be1bad22bf85\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table57tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":\"200.23\",\"AmountDue@odata.type\":\"Edm.Double\",\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"DifferentField\":123,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_af09e92a-c867-4096-9979-be1bad22bf85--\r\n\r\n--batch_8fa2f530-f757-4f5d-af55-53a18f8c91d5--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:4LW4DIuN+FFTZ/P3Rc9MYBePDGGDUtbEVWtrTbV8QeA=
      Content-Type:
      - multipart/mixed; boundary=batch_8fa2f530-f757-4f5d-af55-53a18f8c91d5
      X-Ms-Date:
      - [...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:01Ua3GrDgvocTsSaIVp0om83JKzN3ws9VNej8UNOXOY=
      x-ms-date:
      - Thu, 02 May 2019 17:46:04 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/table57tablebatchsuitetestbatchi?%24top=2&timeout=30
    method: GET
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table57tablebatchsuitetestbatchi","value":[{"odata.type":"golangrocksonazure.table57tablebatchsuitetestbatchi","odata.id":"https://golangrocksonazure.table.core.windows.net/table57tablebatchsuitetestbatchi(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","odata.etag":"W/\"datetime''2019-05-02T17%3A46%3A06.2355392Z''\"","odata.editLink":"table57tablebatchsuitetestbatchi(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","PartitionKey":"mypartitionkey","RowKey":"myrowkey","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2019-05-02T17:46:06.2355392Z","AmountDue":200.23,"CustomerCode@odata.type":"Edm.Guid","CustomerCode":"c9da6455-213d-42c9-9a79-3e9149a57833","CustomerSince@odata.type":"Edm.DateTime","CustomerSince":"1992-12-20T21:55:00Z","DifferentField":123,"NumberOfOrders@odata.type":"Edm.Int64","NumberOfOrders":"255"}]}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2016-05-31"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:BVYrSa/LylXVFUv/8rmBEAnGX5cszATQXVGWvGPihkQ=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:46:04 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table57tablebatchsuitetestbatchi%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
