---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table54tablebatchsuitetestbatchi"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:T7d3IsGXewXZ7IsMvnv7UFaRmvJyXCSgMThzTAg8F5o=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:46:04 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table54tablebatchsuitetestbatchi')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table54tablebatchsuitetestbatchi')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: "--batch_7f3b70a2-3b29-4b45-937b-bcdb2d0e02b6\r\nContent-Type: multipart/mixed;
      boundary=changeset_b018bf07-7dcc-4f67-b970-a17cdb9ab124\r\n\r\n\r\n--changeset_b018bf07-7dcc-4f67-b970-a17cdb9ab124\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table54tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":\"200.23\",\"AmountDue@odata.type\":\"Edm.Double\",\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"IsActive\":true,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_b018bf07-7dcc-4f67-b970-a17cdb9ab124\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table54tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":\"200.23\",\"AmountDue@odata.type\":\"Edm.Double\",\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"IsActive\":true,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_b018bf07-7dcc-4f67-b970-a17cdb9ab124--\r\n\r\n--batch_7f3b70a2-3b29-4b45-937b-bcdb2d0e02b6--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:p3kLs9giSjTMOJTQCnctlf/av8MIQbj1mgSad30rxUU=
      Content-Type:
      - multipart/mixed; boundary=batch_7f3b70a2-3b29-4b45-937b-bcdb2d0e02b6
      X-Ms-Date:
      - Thu, 02 May 2019 17:46:04 GMT
      X-Ms-Version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/$batch
    method: POST
  response:
    body: "--batchresponse_e4e5bd5f-54e8-41df-a3c0-e107bab5d7d9\r\nContent-Type: multipart/mixed;
      boundary=changesetresponse_ab19c097-7828-4a4b-b558-2fb0ab38f55e\r\n\r\n--changesetresponse_ab19c097-7828-4a4b-b558-2fb0ab38f55e\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 400 Bad
      Request\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nPreference-Applied:
      return-no-content\r\nDataServiceVersion: 3.0;\r\nContent-Type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8\r\n\r\n{\"odata.error\":{\"code\":\"InvalidDuplicateRow\",\"message\":{\"lang\":\"en-US\",\"value\":\"1:The
      batch request contains multiple changes with same row key. An entity can appear
      only once in a batch request.\\nRequestId:4711ae87-0002-0090-590e-01c263000000\\nTime:2019-05-02T17:46:05.9458798Z\"}}}\r\n--changesetresponse_ab19c097-7828-4a4b-b558-2fb0ab38f55e--\r\n--batchresponse_e4e5bd5f-54e8-41df-a3c0-e107bab5d7d9--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batchresponse_e4e5bd5f-54e8-41df-a3c0-e107bab5d7d9
      X-Ms-Version:
      - "2016-05-31"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:EXvV46OUVMBp4TunwNsVR+Up4B+aVwgWsbEo0CxaS3Y=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:46:04 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table54tablebatchsuitetestbatchi%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
