---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table48tablebatchsuitetestbatchi"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:T7d3IsGXewXZ7IsMvnv7UFaRmvJyXCSgMThzTAg8F5o=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:46:04 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table48tablebatchsuitetestbatchi')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table48tablebatchsuitetestbatchi')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: "--batch_8a0b83eb-8f52-4b26-9daf-37484e1a5310\r\nContent-Type: multipart/mixed;
      boundary=changeset_b99969e9-81ec-48ab-b0d7-1d31bbbe0d5d\r\n\r\n\r\n--changeset_b99969e9-81ec-48ab-b0d7-1d31bbbe0d5d\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table48tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":\"200.23\",\"AmountDue@odata.type\":\"Edm.Double\",\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"IsActive\":true,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_b99969e9-81ec-48ab-b0d7-1d31bbbe0d5d\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nDELETE https://golangrocksonazure.table.core.windows.net/table48tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nIf-Match: *\r\nPrefer: return-no-content\r\n\r\n\r\n--changeset_b99969e9-81ec-48ab-b0d7-1d31bbbe0d5d--\r\n\r\n--batch_8a0b83eb-8f52-4b26-9daf-37484e1a5310--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:UF7CKbZM5CaggshgXXUWWcib0045RBYNBM4Iqx6uVaU=
      Content-Type:
      - multipart/mixed; boundary=batch_8a0b83eb-8f52-4b26-9daf-37484e1a5310
      X-Ms-Date:
      - Thu, 02 May 2019 17:46:04 GMT
      X-Ms-Version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/$batch
    method: POST
  response:
    body: "--batchresponse_1b196260-d44f-4c48-a15f-d0321949a667\r\nContent-Type: multipart/mixed;
      boundary=changesetresponse_0d43e739-f864-41d5-b93f-c61f85fdd8f5\r\n\r\n--changesetresponse_0d43e739-f864-41d5-b93f-c61f85fdd8f5\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 400 Bad
      Request\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
      3.0;\r\nContent-Type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8\r\n\r\n{\"odata.error\":{\"code\":\"InvalidDuplicateRow\",\"message\":{\"lang\":\"en-US\",\"value\":\"1:The
      batch request contains multiple changes with same row key. An entity can appear
      only once in a batch request.\\nRequestId:4711ae06-0002-0090-5e0e-01c263000000\\nTime:2019-05-02T17:46:05.6836959Z\"}}}\r\n--changesetresponse_0d43e739-f864-41d5-b93f-c61f85fdd8f5--\r\n--batchresponse_1b196260-d44f-4c48-a15f-d0321949a667--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batchresponse_1b196260-d44f-4c48-a15f-d0321949a667
      X-Ms-Version:
      - "2016-05-31"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:mRTd7MI4bRwiplc5IScZI7/Qozm7nno5jZGiuY2gA9Q=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:46:04 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table48tablebatchsuitetestbatchi%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
