---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table38storageentitysuitetestins"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:EvhERFOGEgsxkYICess5C0tEAQacHWsQc6zVckwUNpc=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:58 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table38storageentitysuitetestins')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table38storageentitysuitetestins')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"FamilyName":"Skywalker","HasEpicTheme":true,"Name":"Anakin","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:K6qB3EfFJSiFobBmZIgZyUfO54b8YGJ6i4ltQpic7fA=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:58 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/table38storageentitysuitetestins%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2019-05-02T17%3A47%3A59.7032402Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"FamilyName":"Organa","HasAwesomeDress":true,"Name":"Leia","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:K6qB3EfFJSiFobBmZIgZyUfO54b8YGJ6i4ltQpic7fA=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:58 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/table38storageentitysuitetestins%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2019-05-02T17%3A47%3A59.728258Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:O5qZA2tx8/834rhkyr7009Q+LmDcFChPbiYzOk1Au+8=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:58 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table38storageentitysuitetestins%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
