---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table44storageentitysuitetestins"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:EvhERFOGEgsxkYICess5C0tEAQacHWsQc6zVckwUNpc=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:58 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table44storageentitysuitetestins')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table44storageentitysuitetestins')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"FamilyName":"Skywalker","HasCoolWeapon":true,"Name":"Luke","PartitionKey":"mypartitionkey","RowKey":"100"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:a9SU3XOBN15xH5f4gq4sX5SojS8iRHsLWuAM5Ib+9t8=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:58 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/table44storageentitysuitetestins
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/table44storageentitysuitetestins(PartitionKey='mypartitionkey',RowKey='100')
      Etag:
      - W/"datetime'2019-05-02T17%3A48%3A00.5271735Z'"
      Location:
      - https://golangrocksonazure.table.core.windows.net/table44storageentitysuitetestins(PartitionKey='mypartitionkey',RowKey='100')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"FamilyName":"Skywalker","HasCoolWeapon":true,"Name":"Luke","PartitionKey":"mypartitionkey","RowKey":"200"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:i+nyrCnTHMb1p1WsgsvESCILrEf9IuP5tA0mrnqKC40=
      Content-Type:
      - application/json
      Prefer:
      - return-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:59 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/table44storageentitysuitetestins
    method: POST
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table44storageentitysuitetestins/@Element","odata.type":"golangrocksonazure.table44storageentitysuitetestins","odata.id":"https://golangrocksonazure.table.core.windows.net/table44storageentitysuitetestins(PartitionKey=''mypartitionkey'',RowKey=''200'')","odata.etag":"W/\"datetime''2019-05-02T17%3A48%3A00.5551933Z''\"","odata.editLink":"table44storageentitysuitetestins(PartitionKey=''mypartitionkey'',RowKey=''200'')","PartitionKey":"mypartitionkey","RowKey":"200","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2019-05-02T17:48:00.5551933Z","FamilyName":"Skywalker","HasCoolWeapon":true,"Name":"Luke"}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2019-05-02T17%3A48%3A00.5551933Z'"
      Location:
      - https://golangrocksonazure.table.core.windows.net/table44storageentitysuitetestins(PartitionKey='mypartitionkey',RowKey='200')
      Preference-Applied:
      - return-content
      X-Ms-Version:
      - "2016-05-31"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:N/VD04LfiTQkxr7kkrrh6kVB2RYfQsx3k4G/Cq/nno8=
      x-ms-date:
      - Thu, 02 May 2019 17:47:59 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/table44storageentitysuitetestins?timeout=30
    method: GET
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table44storageentitysuitetestins","value":[{"odata.type":"golangrocksonazure.table44storageentitysuitetestins","odata.id":"https://golangrocksonazure.table.core.windows.net/table44storageentitysuitetestins(PartitionKey=''mypartitionkey'',RowKey=''100'')","odata.etag":"W/\"datetime''2019-05-02T17%3A48%3A00.5271735Z''\"","odata.editLink":"table44storageentitysuitetestins(PartitionKey=''mypartitionkey'',RowKey=''100'')","PartitionKey":"mypartitionkey","RowKey":"100","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2019-05-02T17:48:00.5271735Z","FamilyName":"Skywalker","HasCoolWeapon":true,"Name":"Luke"},{"odata.type":"golangrocksonazure.table44storageentitysuitetestins","odata.id":"https://golangrocksonazure.table.core.windows.net/table44storageentitysuitetestins(PartitionKey=''mypartitionkey'',RowKey=''200'')","odata.etag":"W/\"datetime''2019-05-02T17%3A48%3A00.5551933Z''\"","odata.editLink":"table44storageentitysuitetestins(PartitionKey=''mypartitionkey'',RowKey=''200'')","PartitionKey":"mypartitionkey","RowKey":"200","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2019-05-02T17:48:00.5551933Z","FamilyName":"Skywalker","HasCoolWeapon":true,"Name":"Luke"}]}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2016-05-31"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:EW5mFEMlMWaTujt1I7S3dA8Kcap6Zn/mD0ife7XYT5M=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:59 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table44storageentitysuitetestins%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
