---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table29storageentitysuitetestins"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:AwadOf1V3vU8TqGmzLVn7FmDVtcVAW6Cx89WWFDS77M=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:57 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table29storageentitysuitetestins')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table29storageentitysuitetestins')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"AmountDue":"200.23","AmountDue@odata.type":"Edm.Double","CustomerCode":"c9da6455-213d-42c9-9a79-3e9149a57833","CustomerCode@odata.type":"Edm.Guid","CustomerSince":"1992-12-20T21:55:00Z","CustomerSince@odata.type":"Edm.DateTime","IsActive":true,"NumberOfOrders":"255","NumberOfOrders@odata.type":"Edm.Int64","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:dwmDR+ACR6lRETnAhyOI2eZro2YRQKwhyEiFHug913M=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:57 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestins
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestins(PartitionKey='mypartitionkey',RowKey='myrowkey')
      Etag:
      - W/"datetime'2019-05-02T17%3A47%3A59.4303954Z'"
      Location:
      - https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestins(PartitionKey='mypartitionkey',RowKey='myrowkey')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"AmountDue":"200.23","AmountDue@odata.type":"Edm.Double","CustomerCode":"c9da6455-213d-42c9-9a79-3e9149a57833","CustomerCode@odata.type":"Edm.Guid","CustomerSince":"1992-12-20T21:55:00Z","CustomerSince@odata.type":"Edm.DateTime","IsActive":true,"NumberOfOrders":"255","NumberOfOrders@odata.type":"Edm.Int64","PartitionKey":"mypartitionkey2","RowKey":"myrowkey2"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:dwmDR+ACR6lRETnAhyOI2eZro2YRQKwhyEiFHug913M=
      Content-Type:
      - application/json
      Prefer:
      - return-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:57 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestins
    method: POST
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table29storageentitysuitetestins/@Element","odata.type":"golangrocksonazure.table29storageentitysuitetestins","odata.id":"https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestins(PartitionKey=''mypartitionkey2'',RowKey=''myrowkey2'')","odata.etag":"W/\"datetime''2019-05-02T17%3A47%3A59.4854344Z''\"","odata.editLink":"table29storageentitysuitetestins(PartitionKey=''mypartitionkey2'',RowKey=''myrowkey2'')","PartitionKey":"mypartitionkey2","RowKey":"myrowkey2","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2019-05-02T17:47:59.4854344Z","AmountDue":200.23,"CustomerCode@odata.type":"Edm.Guid","CustomerCode":"c9da6455-213d-42c9-9a79-3e9149a57833","CustomerSince@odata.type":"Edm.DateTime","CustomerSince":"1992-12-20T21:55:00Z","IsActive":true,"NumberOfOrders@odata.type":"Edm.Int64","NumberOfOrders":"255"}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2019-05-02T17%3A47%3A59.4854344Z'"
      Location:
      - https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestins(PartitionKey='mypartitionkey2',RowKey='myrowkey2')
      Preference-Applied:
      - return-content
      X-Ms-Version:
      - "2016-05-31"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:q71maD71+zMFukPRjezp79dA0EBt3Wc4ZEY0zWPMQuQ=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:57 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table29storageentitysuitetestins%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
