---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table29storageentitysuitetestdel"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:AwadOf1V3vU8TqGmzLVn7FmDVtcVAW6Cx89WWFDS77M=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:57 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table29storageentitysuitetestdel')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table29storageentitysuitetestdel')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"PartitionKey":"pkey1","RowKey":"rowkey1"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:Sm/xPFhZXBfXMnuGks6wEOyzCaY/9uphDVo+la5jYo4=
      Content-Type:
      - application/json
      Prefer:
      - return-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:57 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestdel
    method: POST
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table29storageentitysuitetestdel/@Element","odata.type":"golangrocksonazure.table29storageentitysuitetestdel","odata.id":"https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestdel(PartitionKey=''pkey1'',RowKey=''rowkey1'')","odata.etag":"W/\"datetime''2019-05-02T17%3A47%3A58.796946Z''\"","odata.editLink":"table29storageentitysuitetestdel(PartitionKey=''pkey1'',RowKey=''rowkey1'')","PartitionKey":"pkey1","RowKey":"rowkey1","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2019-05-02T17:47:58.796946Z"}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2019-05-02T17%3A47%3A58.796946Z'"
      Location:
      - https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestdel(PartitionKey='pkey1',RowKey='rowkey1')
      Preference-Applied:
      - return-content
      X-Ms-Version:
      - "2016-05-31"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:PEK+1qI+/DqU3OkiW9phgxFrh9wysQVeuiXVCe0apKY=
      If-Match:
      - W/"datetime'2019-05-02T17%3A47%3A58.796946Z'"
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:57 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestdel%28PartitionKey=%27pkey1%27,%20RowKey=%27rowkey1%27%29
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:2UCLyfW50Ff8Jjvhb+0j1fLrXawKhSeX3gl9IaGCjIY=
      If-Match:
      - GolangRocksOnAzure
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:57 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestdel%28PartitionKey=%27pkey2%27,%20RowKey=%27rowkey2%27%29
    method: DELETE
  response:
    body: '{"odata.error":{"code":"InvalidInput","message":{"lang":"en-US","value":"The
      etag value ''GolangRocksOnAzure'' specified in one of the request headers is
      not valid. Please make sure only one etag value is specified and is valid.\nRequestId:6d47af6f-a002-00b6-1e0f-018a7b000000\nTime:2019-05-02T17:47:58.8840078Z"}}}'
    headers:
      Content-Type:
      - application/json;odata=nometadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2016-05-31"
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:fpFTa64ehCTQSh5HZ8fRh7ihem+/uIGosugwLe9I4aU=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 02 May 2019 17:47:57 GMT
      x-ms-version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table29storageentitysuitetestdel%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2016-05-31"
    status: 204 No Content
    code: 204
    duration: ""
